/* 版心 */
    .container {
        width: 1190px;
        margin: 0 auto;
        font-size: 12px;
    }
/* 导航条 */
    .topbar {
        height: 30px;
        background-color: #ECECEC;
        color: #666;
    }
    .topbar .left {
        height: 30px;
        line-height: 30px;
        font-size: 0;
    }
    .welcome,
    .login,
    .sign {
        font-size: 12px;
    }
    .welcome {
        margin-right: 28px;
    }
    .login {
        padding-right: 10px;
        border-right: 1px solid #666;
    }
    .sign {
        padding-left: 10px;
    }
    /* 右导航 */
    .topbar .right .nav {
        height: 30px;
        line-height: 30px;
        font-size: 0;
    }
    .topbar .right .nav li {
        float: left;
    }
    .topbar .right .nav li a {
        font-size: 12px;
        padding: 0 15px;
        border-right: 1px solid #666;
    }
    .topbar .right .nav li:first-child a {
        padding-left: 0;
    }
    .topbar .right .nav li:last-child a {
        padding-right: 0;
        border: 0;
    }
/* 导航条end */
/* 头部 */
    .header {
        height: 120px;
    }
    .header .search form {
        margin-top: 42px;
        font-size: 0;
    }
    .header .search input{
        width: 508px;
        height: 34px;
        border: 1px solid #DD302D;
    }
    .header .search button {
        width: 80px;
        height: 36px;
        background-color: #DD302D;
        vertical-align: bottom;
        background-image: url(../image/serch_icon.png);
        background-repeat: no-repeat;
        background-position: center;
    }
/* 头部end */
/* 分类导航 */
    .all-type .type {
        width: 190px;
        height: 48px;
        background-color: #DD302D;
        text-align: center;
        line-height: 48px;
        color: #FFF;
        font-size: 16px;
    }
    .all-type .all li {
        float: left;
        margin: 0 10px;
        font-size: 16px;
        color: #333;
        line-height: 48px;
    }
/* 分类导航end */
/* 内容区1 */
    .content-main {
        height: 458px;
        margin: 10px 0;
        font-size: 0;
    }
    /* 侧边栏 */
    .content-main .slid-nav {
        width: 190px;
        height: 458px;
        background-color: #F4F4F4;
        margin-right: 10px;
    }
    .content-main .slid-nav li {
        height: 28px;
        line-height: 28px;
        padding-left: 16px;
        font-size: 14px;
    }
    .content-main .slid-nav ul li:first-child {
        padding-top: 9px;
    }
    .content-main .slid-nav a {
        color: #333;
    }
    .content-main .slid-nav li:hover {
        background-color: #DD302D;
    }
    .content-main .slid-nav li:hover>a {
        color: #FFF;
    }
    .content-main .slid-nav li {
        position: relative;
    }
    .content-main .slid-nav .second-menu {
        width: 670px;
        height: 458px;
        position: absolute;
        top: 0;
        left: 190px;
        background-color: #E3E3E3;
        padding-left: 30px;
        display: none;
    }
    
    .content-main .slid-nav .second-menu .second dt {
        float: left;
        width: 70px;
        height: 20px;
        line-height: 20px;
        color: #000;
        font-weight: bold;
        margin-top: 8px;
        margin-right: 8px;
    }
    .content-main .slid-nav .second-menu dl:first-child {
        margin-top: 10px;
    }
    .content-main .slid-nav .second-menu .second dd{
        float: left;
        height: 20px;
        line-height: 20px;
        margin: 8px 0;
    }
    .content-main .slid-nav .second-menu .second a {
        font-size: 14px;
        padding: 0 10px;
        border-left: 1px solid #999999;
    }
    .content-main .slid-nav li:hover .second-menu{
        display: block;
    }
    /* banner-left */
    .content-main .banner-left {
        width: 690px;
        height: 458px;
        margin-right: 10px;
    }

    /* banner-right */
    .content-main .banner-right {
        width: 290px;
        height: 458px;
        
    }
    .content-main .banner-right .top {
        width: 288px;
        height: 156px;
        border: 1px solid #D9D9D9;
    }
    .content-main .banner-right .top .top-list {
        height: 39px;
        line-height: 39px;
        margin: 0 14px;
        border-bottom: 1px solid #D9D9D9;
    }
    .content-main .banner-right .top .news {
        float: left;
        color: #000;
    }
    .content-main .banner-right .top .more {
        float: right;
        color: #999999;
    }
    .content-main .banner-right .top .bottom-list li {
        height: 26px;
        line-height: 26px;
        margin: 0 14px;
    }
    .content-main .banner-right .bottom {
        width: 290px;
        height: 290px;
        margin-top: 10px;
    }
    .content-main .banner-right .bottom {
        overflow: hidden;
    }
    .content-main .banner-right .bottom ul li {
        width: 48px;
        height: 70px;
        float: left;
        margin: 0 11px;
        text-align: center;
    }
    .content-main .banner-right .bottom ul li a {
        font-size: 14px;
        color: #000;
    }
    .content-main .banner-right .bottom ul li:first-child {
        margin-left: 16px;
    }
    .content-main .banner-right .bottom ul:first-child {
        margin-top: 16px;
    }
    .content-main .banner-right .bottom ul:nth-child(2) {
        margin: 17px 0;
    }
/* 内容区1end */

/* 秒杀区 */
    .quick .container{
        font-size: 0;
    }
    .quick .container img {
        margin-right: 11px;
    }
    .quick .container img:last-child {
        margin-right: 0;
    }
/* 秒杀区end */

/* 楼层 */
    .floor-title {
        margin-top: 48px;
        height: 30px;
    }
    .floor-title .left a{
        font-size: 16px;
        color: #000;
    }
    .floor-title .right li{
        float: left;
        font-size: 16px;
        color: #666;
    }
    .floor-title .right li a {
        padding: 0 10px;
        border-right: 1px solid #666;
    }
    .floor-title .right li:first-child a {
        color: #DD302D;
        padding-left: 0;
    }
    .floor-title .right li:last-child a {
        padding-right: 0;
        border-right: 0;
    }
    .floor {
        height: 432px;
    }
    .floor .container {
        margin-top: 4px;
        border-top: 2px solid #DD302D;
    }
    .floor .floor1,
    .floor .floor2,
    .floor .floor3,
    .floor .floor4,
    .floor .floor5 {
        float: left;
    }
    .floor .floor1 {
        width: 230px;
        height: 432px;
        background-color: #F4F4F4;
        overflow: hidden;
    }
    .floor .floor1 .top {
        margin: 20px;
    }
    .floor .floor1 .top .list1 li,
    .floor .floor1 .top .list2 li,
    .floor .floor1 .top .list3 li {
        float: left;
        width: 90px;
        height: 22px;
        font-size: 16px;
        text-align: center;
        margin-right: 10px;
        border-bottom: 1px solid #D9D9D9;
    }
    .floor .floor1 .top .list1 li:last-child,
    .floor .floor1 .top .list2 li:last-child,
    .floor .floor1 .top .list3 li:last-child {
        margin-right: 0;
    }
    .floor .floor1 .bottom {
        float: left;
        margin: 10px 18px 0 18px;
    }
    .floor .floor2 {
        width: 340px;
        height: 432px;
    }
    .floor .floor3 {
        width: 206px;
        height: 431px;
        font-size: 0;
        
    }
    .floor .floor3 img:first-child {
        border-bottom: 1px solid #E2E2E2;
    }
    .floor .floor4 {
        width: 204px;
        height: 432px;
        border-left: 1px solid #E2E2E2;
    }
    .floor .floor5 {
        width: 206px;
        height: 432px;
        font-size: 0;
        border-left: 1px solid #E2E2E2;
    }
    .floor .floor5 img:first-child {
        border-bottom: 1px solid #E2E2E2;
    }
/* 楼层end */

/* 页脚 */
    .footer {
        background-color: #483E3E;
        height: 440px;
        margin-top: 48px;
    }
    .footer .container {
        overflow: hidden;
    }
    .footer .top {
        margin-top: 48px;
        height: 176px;
    }
    .footer .top .top-list1,
    .footer .top .top-list2,
    .footer .top .top-list3,
    .footer .top .top-list4,
    .footer .top .top-list5,
    .footer .top .top-list6 {
        width: 190px;
        margin-right: 10px;
        float: left;
        line-height: 25px;
    }
    .footer .top .top-list1 {
        background-color: #483E3E;
        height: 176px;
    }
    .footer .top .top-list1 ul li a,
    .footer .top .top-list2 ul li a,
    .footer .top .top-list3 ul li a,
    .footer .top .top-list4 ul li a,
    .footer .top .top-list5 ul li a,
    .footer .top .top-list6 ul li a {
        font-size: 14px;
        color: #FFF;
    }
    .footer .top .top-list2 {
        height: 128px;
    }
    .footer .top .top-list3 {
        height: 128px;
    }
    .footer .top .top-list4 {
        height: 152px;
    }
    .footer .top .top-list5 {
        height: 152px;
    }
    .footer .top .top-list6 {
        height: 152px;
        margin-right: 0;
    }
/*  bottom  */
    .footer .bottom {
        margin-top: 22px;
        border-top: 1px solid #584D4D;
        overflow: hidden;
    }
    .footer .bottom .top-list {
        margin-top: 47px;
        height: 18px;
    }
    .footer .bottom .top-list ul {
        margin-left: 100px;
    }
    .footer .bottom .top-list ul li {
        float: left;
    }
    .footer .bottom .top-list ul li a {
        font-size: 12px;
        color: #FFF;
        padding: 0 26px;
        border-right: 1px solid #FFF;
    }
    .footer .bottom .top-list ul li:last-child a {
        padding-right: 0;
        border-right: 0;
    }
    .footer .bottom .other {
        height: 18px;
        margin-top: 10px;
        text-align: center;
    }
    .footer .bottom .other a {
        font-size: 12px;
        color: #FFF;
    }
/* 页脚end */