/* 左浮动 */
.leftfix {
    float: left;
}

/* 右浮动 */
.rightfix {
    float: right;
}

/* 清除浮动 防止父元素塌陷和元素跑到浮动元素的下面 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body,input {
    margin: 0;
    padding: 0;
}
a {
    color: #666;
    text-decoration: none;
}

ul li{
    list-style-type: none;
}
dl dt{
    list-style-type: none;
}